@use "/src/sass/base/variables.scss" as *;

@mixin button {
    text-align: center;
    padding: 15px 20px 15px 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

@mixin button-results {
    text-align: center;
    padding: 15px 31px 15px 31px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
}

@mixin button-watch {
    display: flex;
    align-items: center;
    border: none;
    padding: 10px 20px 10px 20px;
    background: $yellow;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

@mixin pagination {
    display: flex;
    justify-content: center;
    gap: 18px;
}

@mixin bullets {
    margin: 0;
    width: 15px;
    height: 15px;
    opacity: 1;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
