@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.stages {
    background-color: $yellow;
    padding: 0 0 111px;
    .container {
        display: flex;
        column-gap: 142px;
    }

    &__info {
        margin-top: 145px;
        &_title-h2 {
            color: $black;
            line-height: 35px;
        }
        span {
            color: $white;
        }
        p {
            margin-top: 20px;
            color: $black;
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
        }
    }

    &__registration_wrapper {
        margin-top: 115px;
        display: flex;
        align-items: center;
        color: $black;

        .registration,
        .check-in,
        .sheduling {
            display: flex;
            flex-direction: column;
            gap: 33px;
            width: 221px;

            span {
                align-self: center;
                color: $white;
                font-size: 80px;
                line-height: 0;
            }
            ul {
                padding: 0;
                font-weight: 400;
                line-height: 25px;
                text-align: center;
            }
            li {
                margin-top: 2px;
                list-style-type: none;
                font-weight: 400;
                line-height: 25px;
            }
        }
        .registration {
            ul {
                font-weight: 700;
                line-height: 25px;
            }
        }
    }
    &__registration_line {
        display: flex;
        justify-content: center;
        width: 58px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 75px;
            height: 4px;
            background-color: $white;
        }
    }
    &__registration_confirm {
        display: flex;
        @include flex-center;
        gap: 10px;
        margin: 68px auto 0;
        max-width: 341px;
        min-height: 60px;
        padding: 10px;
        border-radius: 5px;
        background: $white;
        color: $black;
        font-weight: 600;
        line-height: 25px;
        span {
            color: $yellow;
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 1800px) {
    .stages {
        .container {
            flex-direction: column;
        }
        &__info {
            margin-top: 111px;
        }
        &__registration_wrapper {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1200px) {
    .stages {
        &__info {
            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .stages {
        &__registration_line {
            &::before {
                width: 60px;
                top: -20px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .stages {
        .registration,
        .check-in,
        .sheduling {
            span {
                font-size: 60px;
            }
        }
        &__registration_line {
            width: 10px;
            &::before {
                width: 40px;
            }
        }
    }
}

@media screen and (max-width: 362px) {
    .stages {
        .registration,
        .check-in,
        .sheduling {
            span {
                font-size: 55px;
            }
        }
        &__registration_line {
            &::before {
                width: 30px;
                top: -40px;
            }
        }
    }
}
