@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.team {
    .container {
        display: flex;
        justify-content: flex-end;
    }
    padding: 510px 0 89px;
    background: url("/src/img/soldier.jpg") center / cover no-repeat;

    &__header {
        @include flex-center;
        flex-direction: column;
        p {
            color: $white;
            font-size: 25px;
            font-weight: 700;
            line-height: 45px;
        }
    }
    &__check {
        display: grid;
        grid-template-columns: 72px minmax(228px, 581px);
        grid-auto-rows: 1fr;
        margin-top: 2px;
        background: $gray;
        border: 1px solid $yellow;
        color: $white;
        & div:nth-child(1),
        & div:nth-child(2) {
            color: $black;
            background: $yellow;
        }
        &_number {
            text-align: center;
            padding: 10px;
            border: 1px solid $yellow;
            font-size: 20px;
            font-weight: 400;
            line-height: 35px;
        }
        &_info {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 10px 10px 10px 20px;
            border: 1px solid $yellow;
            font-size: 20px;
            font-weight: 500;
            line-height: 35px;
            img {
                transform: translateY(-1.5px);
                width: 24px;
                height: 18px;
            }
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        margin: 56px auto 0;
        max-width: 480px;
        a {
            color: $white;
            font-size: 20px;
            font-weight: 700;
            line-height: 35px;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 1200px) {
    .team {
        &__header {
            p {
                font-size: 20px;
            }
        }
        &__check {
            &_number {
                font-size: 16px;
            }
            &_info {
                font-size: 16px;
            }
        }
        &__links {
            margin-top: 45px;
            a {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .team {
        background: url("/src/img/soldier.jpg") 30% center / cover no-repeat;
        .container {
            justify-content: center;
        }
    }
}
