@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.btn {
    @include button;
    width: 246px;
    height: 50px;
    font-size: 16px;
    &:hover {
        background: $yellow;
    }
}

.btn-results {
    @include button-results;
    font-size: 18px;
    width: 152px;
    height: 60px;
    &:hover {
        background: $yellow;
    }
}

.card__watch_btn {
    @include button-watch;
    width: 166px;
    height: 40px;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .btn {
        font-size: 14px;
    }
    .btn-results {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .btn {
        &:focus {
            background: $yellow;
        }
    }
    .btn-results {
        &:focus {
            background: $yellow;
        }
    }
}

@media screen and (max-width: 576px) {
    .btn-results {
        width: 100%;
    }
}
